[build-system]
requires = [ "flot>=0.7.0" ]
build-backend = "flot.buildapi"

[project]
name = "aboutcode.federatedcode"
version = "0.1.0"
description = "A library for FederatedCode client"
readme = "aboutcode/federatedcode/README.rst"
license = { text = "Apache-2.0 AND Python-2.0" }
requires-python = ">=3.9"

authors = [
    { name = "AboutCode, nexB Inc. and others", email = "info@aboutcode.org" },
]

keywords = [
    "purl",
    "Package-URL",
    "open source",
    "package",
    "sca",
    "scan",
    "activitypub",
    "dependencies",
]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Software Development",
    "Topic :: Utilities",
]

dependencies = [
    "packageurl_python >= 0.15.6",
    "aboutcode.hashid>=0.1.0",
    "python-dotenv>=1.0.1",
    "click>=8.1.7",
    "requests>=2.32.3",
]

urls = { Homepage = "https://github.com/aboutcode-org/federatedcode" }

[project.scripts]
    federatedcode = "aboutcode.federatedcode.cli:handler"

[tool.bumpversion]
current_version = "0.1.0"
allow_dirty = true

files = [
    { filename = "pyproject-aboutcode.federatedcode.toml" },
]

[tool.flot]
includes = [
    "aboutcode/**/*",
]

excludes = [
    # Python compiled files
    "**/*.py[cod]",
    "**/*.egg-info",
    # Various junk and temp files
    "**/.DS_Store",
    "**/*~",
    "**/.*.sw[po]",
    "**/.ve",
    "**/*.bak",
    "**/.ipynb_checkpoints",
    "aboutcode/federatedcode/tests/**/*",
]

metadata_files = ["apache-2.0.LICENSE", "NOTICE"]
editable_paths = ["aboutcode"]
