{% extends "base.html" %}

{% block title %}
Page Not Found
{% endblock %}

{% block content %}
<section class="hero is-large is-link">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 pb-2">
                404 - Page Not Found
            </h1>
            <p class="subtitle is-4">
                Sorry, the page you're looking for does not exist.
            </p>
            <a href="{% url 'purl-list' %}" class="button is-dark">Explore available packages</a>
        </div>
    </div>
</section>
{% endblock %}