{% extends "base.html" %}
{% load static %}
{% load webfinger_image %}

{% block title %}
My Packages
{% endblock %}

{% block scripts %}
<script src="{% static 'js/vote.js' %}"></script>
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column"></div>
  <div class="column is-full pr-6 mr-6">
    <div class="content is-normal">
      <h1>My Packages</h1>
      <hr />

      {% if not page_note %}
      <div class="has-text-centered">
        <p class="is-size-4">Follow the packages to see the updates.</p>
        <a href="{% url 'purl-list' %}" class="button is-primary">Browse All Packages</a>
      </div>
      {% else %}
      <div>
        {% for note in page_note %}
        <article class="media box px-2 mx-2">
          <figure>
            <p class="image is-64x64">
              <img src="{{ note.acct | get_pkg_image }}" alt="purl-image">
            </p>
          </figure>
          <form class="mx-1" name="vote-notes">
            <span class="icon ml-1">
              <!-- Vote Up Button -->
              <button name="vote-up" class="button is-rounded is-white" value="{{ note.id }}" type="submit">▲</button>
            </span>
            <p class="ml-3 mt-1 mb-1" name="{{ note.id }}">{{ note.reputation_value }}</p>
            <span class="icon ml-1">
              <!-- Vote Down Button -->
              <button name="vote-down" class="button is-rounded is-white" value="{{ note.id }}" type="submit">▼</button>
            </span>
          </form>

          <div class="media-content">
            <div class="content ml-3">
              <a href="{% url 'purl-profile' note.username %}">{{ note.acct }}</a>
              <hr />
              <pre class="has-text-black">{{ note.content }}</pre>
              <hr />
              <button class="button" onclick="window.open('{% url 'note-page' note.id %}');">Comment 💬</button>
            </div>
          </div>
          <div class="media-right mr-4">
            <small>{{ note.updated_at }}</small>
          </div>
        </article>
        {% endfor %}

        <nav class="pagination is-centered px-6" role="navigation" aria-label="pagination">
          {% if page_note.has_previous %}
          <a class="pagination-previous" href="?page={{ page_note.previous_page_number }}">Previous</a>
          {% endif %}

          {% if page_note.has_next %}
          <a class="pagination-next" href="?page={{ page_note.next_page_number }}">Next page</a>
          {% endif %}
          <ul class="pagination-list">
            <li><a class="pagination-link" aria-label="Goto page 1" href="?page=1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto page {{ page_note.number }}"
                href="?page={{ page_note.paginator.num_pages }}">{{ page_note.paginator.num_pages }}</a></li>
          </ul>
        </nav>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="column"></div>
</div>
{% endblock %}
