{% extends "base.html" %}
{% block title %}
User Login
{% endblock %}

{% block content %}
<div class="columns is-centered is-vcentered pt-6">
      <div class="column is-half-tablet is-one-third-desktop is-full-mobile px-5">

            {% if form.errors %}
            <div class="notification is-danger">
                  <button class="delete"></button>
                  <strong>Error!</strong>
                  {% for error in form.errors.values %}
                        {{ error }}
                  {% endfor %}
            </div>
            {% endif %}

            <h2 class="title">User Login</h2>
            <form action="{% url 'login' %}" method="post">
                  {% csrf_token %}

                  <div class="field">
                        <div class="control">
                              <input class="input" type="text" placeholder="Username" name="username" autofocus
                                    autocapitalize="none" autocomplete="username" maxlength="150" required
                                    id="id_username">
                        </div>
                  </div>

                  <div class="field">
                        <div class="control">
                              <input class="input" type="password" placeholder="Password" name="password"
                                    autocomplete="current-password" required id="id_password">
                        </div>
                  </div>
                  <div class="field">
                        <div class="control">
                              {{ form.captcha }}
                        </div>
                  </div>
                  <div class="field">
                        <div class="control">
                              <input class="button is-fullwidth is-info" type="submit" value="Log in">
                        </div>
                  </div>
            </form>

      </div>
</div>
{% endblock %}