{% load static %}

<nav class="navbar is-dark mb-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ml-3">
    <a class="navbar-item is-size-4 has-text-weight-bold" href="/">
      FederatedCode<span class="nexb-orange">.</span>io
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      {% if user.person %}
      <a class="navbar-item {% if request.path == '/' %}is-active{% endif %}" href="{% url 'home-page' %}">
        My Packages
      </a>
      {% endif %}
      <a class="navbar-item {% if request.path == '/purl-list' %}is-active{% endif %}" href="{% url 'purl-list' %}">
        All Packages
      </a>
      <a class="navbar-item" href="https://federatedcode.readthedocs.io/en/latest/" target="_blank">
        Documentation
      </a>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        {% if not user.is_authenticated %}
        <a class="button is-info" href="{% url 'signup' %}">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light" href="{% url 'login' %}">
          <strong>Log in</strong>
        </a>
        {% endif %}
      </div>
    </div>

    {% if user.person or user.service %}
    <div class="navbar-item has-dropdown is-hoverable">
      <div class="navbar-link is-arrowless">
        <figure class="image is-32x32">
          {% if user.service %}
          <img src="{% static 'images/aboutcode_favicon-32x32.png' %}">
          {% else %}
          <img src="{{ user.person.avatar }}">
          {% endif %}
        </figure>
      </div>

      <div class="navbar-dropdown is-right mr-2">
        {% if user.person %}
        {% if request.path == '/users/@'|add:user.username %}
        <a class="navbar-item is-active-light" href="{% url 'user-profile' user.username %}"
          style="background-color: #dcdcdc;">
          <strong>Profile</strong>
        </a>
        {% else %}
        <a class="navbar-item" href="{% url 'user-profile' user.username %}">
          <strong>Profile</strong>
        </a>
        {% endif %}
        {% endif %}
        {% if user.service %}
        {% if request.path == '/create-repo' %}
        <a class="navbar-item is-active-light" href="{% url 'repo-create' %}" style="background-color: #dcdcdc;">
          <strong>Add Repo</strong>
        </a>
        {% else %}
        <a class="navbar-item" href="{% url 'repo-create' %}">
          <strong>Add Repo</strong>
        </a>
        {% endif %}
        {% if request.path == '/repo-list' %}
        <a class="navbar-item is-active-light" href="{% url 'repo-list' %}" style="background-color: #dcdcdc;">
          <strong>All Repo</strong>
        </a>
        {% else %}
        <a class="navbar-item" href="{% url 'repo-list' %}">
          <strong>All Repo</strong>
        </a>
        {% endif %}
        {% endif %}

        <a class="navbar-item has-text-danger" href="{% url 'logout' %}">
          <strong>Log out</strong>
        </a>
        <hr class="navbar-divider">
        <div class="navbar-item">
          v{{ FEDERATEDCODE_VERSION }}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</nav>