{% extends "base.html" %}

{% block title %}
Your Profile
{% endblock %}

{% block extra-head %}
<style>
  /* Remove the border below the table header */
  thead th {
    border-bottom: none !important;
  }

  tbody tr:hover {
    background-color: #e0e0e0 !important;
    cursor: pointer;
  }

  tbody tr:nth-child(even):hover {
    background-color: #d3d3d3 !important;
  }
</style>
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column box content is-offset-1">
    <figure class="image is-128x128 mb-2" style="margin: auto">
      <img class="is-rounded" src="{{ person.avatar }}?size=200">
    </figure>
    <p class="is-size-5 has-text-centered">
      <a href="#">@{{ person.user.username }}</a>
    </p>
    <p class="is-size-6 has-text-centered">
      We use
      <a href="https://gravatar.com" target="_blank" rel="noopener noreferrer">
        gravatar.com
        <span class="icon is-small">
          <i class="fas fa-external-link-alt fa-xs"></i>
        </span>
      </a>
      to create your profile picture using your email address — {{ person.user.email }}
    </p>
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">{{ follow_count }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">reputation</p>
          <p class="title">{{ person.reputation_value }}</p>
        </div>
      </div>
    </nav>

    <p class="is-size-6 has-text-centered">{{ person.summary }}</p>
    <p class="is-size-6 has-text-centered">
      <a href="{% url 'user-edit' person.user.username %}"><button type="submit"
          class="button is-link">Update</button></a>
    </p>

  </div>
  <div class="column is-8 ml-3 mr-6">
    <div class="box">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>
              <div class="box is-small">
                <div class="columns">
                  <div class="column is-full">
                    Followed Packages
                  </div>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for following in followings %}
          <tr>
            <td>
              <a href="{% url 'purl-profile' following.package.purl %}" class="has-text-info">
                <div class="columns px-5">
                  <div class="column is-full">
                    {{ following.package.acct }}
                  </div>
                </div>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td class="has-text-centered" colspan="1">No package followed.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <nav class="pagination is-centered px-5" role="navigation" aria-label="pagination">
      {% if followings.has_previous %}
      <a class="pagination-previous" href="?page={{ followings.previous_page_number }}">Previous</a>
      {% endif %}

      {% if followings.has_next %}
      <a class="pagination-next" href="?page={{ followings.next_page_number }}">Next page</a>
      {% endif %}
      <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1" href="?page=1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page {{ followings.number }}"
            href="?page={{ followings.paginator.num_pages }}">{{ followings.paginator.num_pages }}</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}