{% extends "base.html" %}

{% block title %}
User Signup
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column"></div>
  <div class="column is-two-fifths">

    {% if form.errors %}
    <div class="notification">
      <button class="delete"></button>
      <article class="message is-danger">
        <div class="message-header">
          <p>Error</p>
        </div>
        <div class="message-body">
          {{ form.errors }}
        </div>
      </article>
    </div>
    {% endif %}

    <h2 class="title">User Signup</h2>
    <form method="post">
      {% csrf_token %}
      <div class="field">
        <div class="control">
          <input class="input" placeholder="Username" type="text" name="username" maxlength="150" autofocus required
            id="id_username">
          <span class="help">
            Only letters, numbers, and <strong>@ . + - _</strong> allowed.
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="email" placeholder="Email" name="email" maxlength="254" required id="id_email">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="password" placeholder="Password" name="password1" autocomplete="new-password"
            required id="id_password1">
          <span class="help">
            <ul>
              <li>Password can't be too similar to your other personal information.</li>
              <li>Password must contain at least 8 characters.</li>
              <li>Password can't be a commonly used password.</li>
              <li>Password can't be entirely numeric.</li>
            </ul>
          </span>

        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="password" placeholder="Confirm password" name="password2"
            autocomplete="new-password" required id="id_password2">
        </div>
      </div>
      <input class="button is-fullwidth is-info" type="submit" value="Sign Up">
    </form>
  </div>
  <div class="column"></div>
</div>
{% endblock %}